<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="">Anasayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/cars">Arabalar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/rentals">Kiralamalar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/customers">Müşteriler</a>
          </li>
        </ul>


        <ul class="navbar-nav mb-2 mb-lg-0" *ngIf="!isLogin">
          <li class="nav-item ms-1">
            <a class="btn btn-primary" routerLink="/login" role="button">Giriş</a>
          </li>
          <li class="nav-item ms-1">
            <a class="btn btn-dark" routerLink="/register" role="button">Kayıt</a>
          </li>
          
        </ul>

        <ul class="navbar-nav mb-2 mb-lg-0 me-3" *ngIf="isLogin===true">
        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ad Soyad
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Bilgiler</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="btn dropdown-item" (click)="logout()">Çıkış</a></li>
          </ul>
        </li>
      </ul>


        
        
      </div>
    </div>
  </nav>
