<div class="accordion  mt-3" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Markalar
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <ul class="list-group list-group-flush">
                <li (click)="setCurrentBrand(brand)" 
                routerLink="cars/brand/{{brand.id}}"
                *ngFor="let brand of brands" 
                [class]="getCurrentBrandClass(brand)">
                    {{brand.name}}
                </li>
            </ul>
        </div>
      </div>
    </div>
</div>


