<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Kirala</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p *ngIf="returnDateIsNull">Bu araç şu anda kiralanamaz</p>
        Başlangıç: <input type="datetime-local" [(ngModel)]="startCarRentalDate"  (change)="totalDateAndTotalPrice()" class="form-control">
        Bitiş: <input type="datetime-local" [(ngModel)]="endCarRentalDate" min="{{startCarRentalDate}}"(change)="totalDateAndTotalPrice()" class="form-control">
        
        <p>{{carDetail.brandName}} {{carDetail.name}}</p>
        <ul *ngIf="totalDay" class="list-group">
          <li class="list-group-item">{{totalDay}} gün</li>
          <li class="list-group-item">toplam fiyat: {{totalPrice}} Tl</li>
        </ul>
        
        

        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
        <button type="button" *ngIf="!startCarRentalDate || !endCarRentalDate" class="btn btn-primary" disabled>Aracı Kirala</button>
        <button type="button" *ngIf="startCarRentalDate && endCarRentalDate" class="btn btn-primary" data-bs-dismiss="modal" (click)="rentAndSetRentInfo()" routerLink="/carrental/payment" >Aracı Kirala</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <table class="table">
        <thead>
          <tr>
        <th scope="col">#</th>
        <th scope="col">Marka</th>
        <th scope="col">Model</th>
        <th scope="col">Renk</th>
        <th scope="col">Fiyat</th>
        <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{carDetail.carId}}</th>
            <td>{{carDetail.brandName}}</td>
            <td>{{carDetail.name}}</td>
            <td>{{carDetail.colorName}}</td>
            <td>{{carDetail.dailyPrice}}</td>
            <td><button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">Kirala</button></td>
          </tr>                  
        </tbody>
      </table>
</div>
<div class="row" >
    <div>
        <img *ngFor="let image of carDetail.carImages" [src]="imageUrl+[image.imagePath]" style="width: 150px;height: 150px;" class="img-thumbnail" alt="...">
    </div>
</div>
