<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Bilgiler</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>Kiralayan</td>
            <td>denzel washington</td>
          </tr>
      <tr>
        <td>Araba</td>
        <td>Bmw</td>
      </tr>
      <tr>
        <td>Başlangıç tarihi</td>
        <td>4.4.2020</td>
      </tr>
      <tr>
        <td>Bitiş Tarihi</td>
        <td>6.4.2020</td>
      </tr>
      <tr>
        <td>Gün Sayısı</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Tutar</td>
        <td>250</td>
      </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-secondary btn-sm">Aracı Kirala</button>
